@font-face {
    font-family: "Poppins400";
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins500";
    src: url(../../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins600";
    src: url(../../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins700";
    src: url(../../fonts/Poppins/Poppins-Bold.ttf);
}